<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<script src='http://cdn.html5quintus.com/v0.2.0/quintus-all.js'></script>
	<script type="text/javascript" src="/scripts/heap.js"></script>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
	<div id="loading-label">Loading: 0%</div>
	<script type="text/javascript" src="/scripts/main.js"></script>
	<script type="text/javascript" src="/scripts/scenes.js"></script>
	<script type="text/javascript" src="/scripts/anims.js"></script>
	<script type="text/javascript" src="/scripts/sprites.js"></script>
	<script type="text/javascript" src="/scripts/ai.js"></script>
</body>
</html>