<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<script src='http://cdn.html5quintus.com/v0.2.0/quintus-all.js'></script>
	<script type="text/javascript" src="/scripts/main.js"></script>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
	<h3 class="centered">CSULB ACM LD30</h3>
	<canvas id="game-canvas" width="800" height="600"></canvas>
</body>
</html>