.centered
{
	text-align: center;
	display: block;
	width: 100%;
}

canvas
{
	display: block;
	margin: 0 auto;
	/* background-color: black; */
}

#loading-label{
	color: green;
	text-align: center;
	display: block;
	width: 100%;
	margin: 0 auto;
	font-size: 5em;
}